* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

p,
h1,
h2 {
  color: white;
}

html,
body {
  height: 100%;
}

.wrapper {
  width: 1920px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header_setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: rgb(255, 255, 255);
  background-color: rgb(200, 163, 95);
  height: 45px;
}
.header_languages {
  padding: 16px;
}
.header_listen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82px;
  height: 13px;
  font-size: 12px;
}
.header_phone {
  padding: 16px;
  width: 95px;
  height: 13px;
}
.header_mail {
  padding: 16px;
}
.header_menu {
  background-color: rgb(47, 52, 58);
  color: rgb(255, 255, 255);
  height: 100px;
}
.header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 46px;
  margin: auto;
}
.header_office {
  width: 160px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_office__sign {
  margin-right: 10px;
}
.header_office__our {
  width: 97px;
  height: 16px;
  padding-top: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.header_general {
  width: 160px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
}
.header_logo {
  border-right: 1px solid white;
  width: 190px;
  height: 46px;
  padding-right: 30px;
  margin-right: 30px;
}
.header_navigation {
  margin-top: 40px;
}
.header_address {
  color: white;
  padding-right: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.specialization {
  height: 620px;
  background-image: url(Rectangle2.png);
  padding: 155px 500px 220px 500px;
}
.specialization_info {
  border: 1px solid rgb(200, 163, 95);
  width: 920px;
  height: 245px;
}
.specialization_text {
  text-align: center;
}
.specialization_mouse {
  text-align: center;
  margin-top: 140px;
}

.specialization_text__big {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.05em;
  margin: 45px 70px;
}
.specialization_text__small {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 45px 70px;
}

.container {
  background: rgb(47, 52, 58);
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.detail_info {
  width: 755px;
  height: 561px;
  background: rgb(57, 63, 71);
}
.detail_line {
  padding-top: 120px;
  padding-left: 405px;
}
.detail_main {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-left: 405px;
  padding-top: 40px;
}
.detail_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding-left: 405px;
  padding-top: 30px;
}
.detail_klck {
  padding-left: 405px;
  padding-top: 50px;
}
.detail_button {
  background: rgb(200, 163, 95);
  width: 220px;
  height: 55px;
  color: white;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.detail_next {
  background: rgb(57, 63, 71);
  padding-top: 156px;
  padding-left: 189px;
}
.detail_back {
  background: rgb(57, 63, 71);
  padding-top: 245px;
  padding-left: 189px;
}

.car {
  position: absolute;
  padding-top: 166px;
  padding-left: 880px;
}

.service {
  width: 1296px;
}
.service_list {
  margin-left: 405px;
  margin-top: 60px;
  width: 1110px;
  height: 360px;
}
.service_row {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service_plane {
  padding-top: 55px;
  padding-left: 123px;
}
.service_name {
  padding: 28px 42px 35px 42px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.service_item {
  margin: 1px;
  width: 276px;
  height: 180px;
  background-color: #393f47;
}

.service_item__first {
  margin: 1px;
  width: 276px;
  height: 180px;
  background-color: #c8a35f;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 482px;
  margin-top: 120px;
  margin-left: 405px;
}
.main_info {
  position: absolute;
  width: 410px;
  height: 482px;
}
.main_logo {
  padding-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.main_line {
  padding-top: 85px;
}
.main_text {
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  width: 445px;
  height: 179px;
}
.main_gray {
  width: 410px;
  height: 482px;
  background: #393f47;
  margin-left: 350px;
}

.main_list {
  position: absolute;
  padding-left: 510px;
  padding-top: 90px;
}
.main_row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_item__stats {
  background-color: white;
  width: 200px;
  height: 160px;
  border: 0.25px solid #c8a35f;
}
.main_item__car {
  border: 0.25px solid #c8a35f;
  width: 200px;
  height: 160px;
  background-image: url(Rectangle2.2.png);
}

.item_text {
  padding-top: 23px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;
}
.item_tex {
  padding-top: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: black;
}
.item_te {
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: black;
}

.map {
  width: 1920px;
  height: 450px;
  background-image: url(maps.png);
}

.footer {
  height: 161px;
  width: 1920px;
  background: rgb(200, 163, 95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_logo {
  padding-left: 405px;
  padding-top: 60px;
}
.footer_location {
  padding-top: 65px;
  padding-left: 30px;
}
.footer_sity {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.footer_mail {
  color: #393f47;
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.footer_contacts {
  padding-top: 65px;
  padding-left: 90px;
}
.footer_phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
}
.footer_developer {
  padding-left: 250px;
  padding-top: 88px;
}
.footer_develop {
  color: #393f47;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}